*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--neutral-darck);
    font-family: "Outfit", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}